/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: SMB; 
    src: url(./assets/Fonts/SuperMario256.ttf) format("opentype");
}

html, body { height: 100%; font-family: SMB !important; font-size: 30px;}
@import "~bootstrap/dist/css/bootstrap.css";

button{
    font-family: SMB !important;
}

